.card {
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

.card:hover {
  color: rgb(78, 124, 221);
  transform: scale(1.1);
  text-decoration: underline;
  z-index: 1000;
  cursor: pointer;
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.2);
}
