.card {
  transition: all 0.2s ease-out;
  border-radius: 10px;
}

.card:hover {
  color: rgb(78, 124, 221);
  transform: scale(1.1);
  text-decoration: underline;
  z-index: 1000;
  cursor: pointer;
}
